[submodule "testsuite"]
	path = testsuite
	url = git@github.com:WebAssembly/testsuite.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
[submodule "life"]
	path = life
	url = git@github.com:perlin-network/life.git
